---
import "@fontsource/inter";
import Navbar from "@components/Navbar.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const socialImageURL = new URL("https://www.carlisle.dev/opengraph-image.jpg");
---

<!DOCTYPE html>
<html lang="en" class="overscroll-y-none overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body
    class="relative min-h-screen min-w-full text-base bg-neutral-900 text-neutral-300 md:text-lg"
  >
    <div class="absolute top-0 left-0 z-50 w-full px-4 pt-2 pb-5 md:py-8">
      <div class="mx-auto">
        <Navbar />
        <main class="mx-auto max-w-screen-sm">
          <slot />
        </main>
      </div>
    </div>
    <div
      class="fixed h-screen w-full bg-black/90 bg-grain opacity-50 contrast-[1.2]"
    >
    </div>
  </body>
</html>
