---
import "@fontsource/inter";
import Navbar from "@/components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" class="overscroll-y-none overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-base-dark text-neutral-100 pt-8">
    <Navbar />
    <main class="max-w-screen-lg mx-auto">
      <slot />
    </main>
  </body>
</html>
